body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .gameboard-ui {
    width: 100%;
    height: 100%;
    .board-container {
      width: 100%;
      height: 100%;
      .board-box-row {
        display: flex;
        .board-box {
          width: 30px;
          height: 30px;
          border: solid 0.5px black;
        }

        .board-box.owner-1p {
          background-color: red;
        }

        .board-box.owner-2p {
          background-color: blue;
        }

        .board-box.owner-pre-1p {
          background-color: rgba($color: (#FF0000), $alpha: 0.1);
        }

      }
    }

    .mino-sel-btn-container {
      border: solid 0.5px black;
      display: flex;
      flex-direction: row;
      .mino-sel-btn {
        border: solid 0.5px black;
        width: 100px;
        height: 100px;
        img {
          width: 90px;
          height: 90px;
          margin: 0px auto;
        }
      }
    }
  }
}